.icon {
	content: url("@{background-images-path}icon_default.svg");
	display: inline-block;
	text-align: center;

	.abbreviation {
		font-weight: bold;
		position: absolute;
	}
	img {
		float:left;
	}

	&.small {
		height: @icon-size-small;
		width: @icon-size-small;
		line-height: @icon-size-small;
		.abbreviation {
			font-size: ceil(@icon-size-small / 2.5);
			width: @icon-size-small;
		}
		img {
			width: @icon-size-small;
			height: @icon-size-small;
		}
	}
	&.medium {
		height: @icon-size-medium;
		width: @icon-size-medium;
		line-height: @icon-size-medium;
		.abbreviation {
			font-size: ceil(@icon-size-medium / 2.5);
			width: @icon-size-medium;
		}
		img {
			width: @icon-size-medium;
			height: @icon-size-medium;
		}
	}
	&.large {
		height: @icon-size-large;
		width: @icon-size-large;
		line-height: @icon-size-large;
		.abbreviation {
			font-size: ceil(@icon-size-large / 2.5);
			width: @icon-size-large;
		}
		img {
			width: @icon-size-large;
			height: @icon-size-large;
		}
	}
	&.responsive {
		width: 100%;
		line-height: @icon-size-medium;
		.abbreviation {
			font-size: ceil(@icon-size-medium / 2.5);
			width: @icon-size-medium;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	&.disabled {
		-webkit-filter: @il-standard-disabled-icon-filter; /* Safari 6.0 - 9.0 */
		filter: @il-standard-disabled-icon-filter;
	}

	/* the custom-icon is rendered with an image contained in the div */
	&.custom {
		content: none;
	}

	/* add known standard classes here */
	&.grp,
	&.cat,
	&.crs,
	&.mob,
	&.mail,
	&.sahs,
	&.adm,
	&.usrf,
	&.rolf,
	&.objf,
	&.usr,
	&.typ,
	&.rolt,
	&.lngf,
	&.lng,
	&.role,
	&.dbk,
	&.glo,
	&.root,
	&.lm,
	&.notf,
	&.note,
	&.frm,
	&.exc,
	&.auth,
	&.fold,
	&.file,
	&.tst,
	&.qpl,
	&.recf,
	&.mep,
	&.htlm,
	&.svy,
	&.spl,
	&.cals,
	&.trac,
	&.assf,
	&.stys,
	&.crsg,
	&.webr,
	&.seas,
	&.extt,
	&.adve,
	&.ps,
	&.nwss,
	&.feed,
	&.mcst,
	&.rcrs,
	&.mds,
	&.cmps,
	&.facs,
	&.svyf,
	&.sess,
	&.mcts,
	&.wiki,
	&.crsr,
	&.catr,
	&.tags,
	&.cert,
	&.lrss,
	&.accs,
	&.mobs,
	&.frma,
	&.book,
	&.skmg,
	&.blga,
	&.prfa,
	&.chtr,
	&.chta,
	&.otpl,
	&.blog,
	&.dcl,
	&.poll,
	&.hlps,
	&.itgr,
	&.rcat,
	&.rwik,
	&.rlm,
	&.rglo,
	&.rfil,
	&.rgrp,
	&.rtst,
	&.ecss,
	&.tos,
	&.bibl,
	&.sysc,
	&.cld,
	&.reps,
	&.crss,
	&.grps,
	&.wbrs,
	&.prtt,
	&.orgu,
	&.wiks,
	&.excs,
	&.taxs,
	&.bibs,
	&.awra,
	&.logs,
	&.prg,
	&.prgs,
	&.cadm,
	&.grpr,
	&.bdga,
	&.wfe,
	&.iass,
	&.copa,
	&.lso,
	&.bgtk
	{
		.abbreviation {
			display: none;
		}
	}


	&.grp{
		content: url("@{il-standard-icon-path}icon_grp.svg");
	}
	&.cat{
		content: url("@{il-standard-icon-path}icon_cat.svg");
	}
	&.crs{
		content: url("@{il-standard-icon-path}icon_crs.svg");
	}
	&.mob {
		content: url("@{il-standard-icon-path}icon_mob.svg");
	}
	&.mail {
		content: url("@{il-standard-icon-path}icon_mail.svg");
	}
	&.sahs{
		content: url("@{il-standard-icon-path}icon_sahs.svg");
	}
	&.adm {
		content: url("@{il-standard-icon-path}icon_adm.svg");
	}
	&.usrf{
		content: url("@{il-standard-icon-path}icon_usrf.svg");
	}
	&.rolf{
		content: url("@{il-standard-icon-path}icon_rolf.svg");
	}
	&.objf{
		content: url("@{il-standard-icon-path}icon_objf.svg");
	}
	&.usr{
		content: url("@{il-standard-icon-path}icon_usr.svg");
	}
	&.rolt{
		content: url("@{il-standard-icon-path}icon_rolt.svg");
	}
	&.lngf{
		content: url("@{il-standard-icon-path}icon_lngf.svg");
	}
	&.lng{
		content: url("@{il-standard-icon-path}icon_lng.svg");
	}
	&.role{
		content: url("@{il-standard-icon-path}icon_role.svg");
	}
	&.dbk{
		content: url("@{il-standard-icon-path}icon_dbk.svg");
	}
	&.glo{
		content: url("@{il-standard-icon-path}icon_glo.svg");
	}
	&.root{
		content: url("@{il-standard-icon-path}icon_root.svg");
	}
	&.lm{
		content: url("@{il-standard-icon-path}icon_lm.svg");
	}
	&.notf{
		content: url("@{il-standard-icon-path}icon_notf.svg");
	}
	&.note{
		content: url("@{il-standard-icon-path}icon_note.svg");
	}
	&.frm{
		content: url("@{il-standard-icon-path}icon_frm.svg");
	}
	&.exc{
		content: url("@{il-standard-icon-path}icon_exc.svg");
	}
	&.auth{
		content: url("@{il-standard-icon-path}icon_auth.svg");
	}
	&.fold{
		content: url("@{il-standard-icon-path}icon_fold.svg");
	}
	&.file{
		content: url("@{il-standard-icon-path}icon_file.svg");
	}
	&.tst{
		content: url("@{il-standard-icon-path}icon_tst.svg");
	}
	&.qpl{
		content: url("@{il-standard-icon-path}icon_qpl.svg");
	}
	&.recf{
		content: url("@{il-standard-icon-path}icon_recf.svg");
	}
	&.mep{
		content: url("@{il-standard-icon-path}icon_mep.svg");
	}
	&.htlm{
		content: url("@{il-standard-icon-path}icon_htlm.svg");
	}
	&.svy{
		content: url("@{il-standard-icon-path}icon_svy.svg");
	}
	&.spl{
		content: url("@{il-standard-icon-path}icon_spl.svg");
	}
	&.cals{
		content: url("@{il-standard-icon-path}icon_cals.svg");
	}
	&.trac{
		content: url("@{il-standard-icon-path}icon_trac.svg");
	}
	&.assf{
		content: url("@{il-standard-icon-path}icon_assf.svg");
	}
	&.stys{
		content: url("@{il-standard-icon-path}icon_stys.svg");
	}
	&.crsg{
		content: url("@{il-standard-icon-path}icon_crsg.svg");
	}
	&.webr{
		content: url("@{il-standard-icon-path}icon_webr.svg");
	}
	&.seas{
		content: url("@{il-standard-icon-path}icon_seas.svg");
	}
	&.extt{
		content: url("@{il-standard-icon-path}icon_extt.svg");
	}
	&.adve{
		content: url("@{il-standard-icon-path}icon_adve.svg");
	}
	&.ps{
		content: url("@{il-standard-icon-path}icon_ps.svg");
	}
	&.nwss{
		content: url("@{il-standard-icon-path}icon_nwss.svg");
	}
	&.feed{
		content: url("@{il-standard-icon-path}icon_feed.svg");
	}
	&.mcst{
		content: url("@{il-standard-icon-path}icon_mcst.svg");
	}
	&.rcrs{
		content: url("@{il-standard-icon-path}icon_rcrs.svg");
	}
	&.mds{
		content: url("@{il-standard-icon-path}icon_mds.svg");
	}
	&.cmps{
		content: url("@{il-standard-icon-path}icon_cmps.svg");
	}
	&.facs{
		content: url("@{il-standard-icon-path}icon_facs.svg");
	}
	&.svyf{
		content: url("@{il-standard-icon-path}icon_svyf.svg");
	}
	&.sess{
		content: url("@{il-standard-icon-path}icon_sess.svg");
	}
	&.mcts{
		content: url("@{il-standard-icon-path}icon_mcts.svg");
	}
	&.wiki{
		content: url("@{il-standard-icon-path}icon_wiki.svg");
	}
	&.crsr{
		content: url("@{il-standard-icon-path}icon_crsr.svg");
	}
	&.catr{
		content: url("@{il-standard-icon-path}icon_catr.svg");
	}
	&.tags{
		content: url("@{il-standard-icon-path}icon_tags.svg");
	}
	&.cert{
		content: url("@{il-standard-icon-path}icon_cert.svg");
	}
	&.lrss{
		content: url("@{il-standard-icon-path}icon_lrss.svg");
	}
	&.accs{
		content: url("@{il-standard-icon-path}icon_accs.svg");
	}
	&.mobs{
		content: url("@{il-standard-icon-path}icon_mobs.svg");
	}
	&.frma{
		content: url("@{il-standard-icon-path}icon_frma.svg");
	}
	&.book{
		content: url("@{il-standard-icon-path}icon_book.svg");
	}
	&.skmg{
		content: url("@{il-standard-icon-path}icon_skmg.svg");
	}
	&.blga{
		content: url("@{il-standard-icon-path}icon_blga.svg");
	}
	&.prfa{
		content: url("@{il-standard-icon-path}icon_prfa.svg");
	}
	&.chtr{
		content: url("@{il-standard-icon-path}icon_chtr.svg");
	}
	&.chta{
		content: url("@{il-standard-icon-path}icon_chta.svg");
	}
	&.otpl{
		content: url("@{il-standard-icon-path}icon_otpl.svg");
	}
	&.blog{
		content: url("@{il-standard-icon-path}icon_blog.svg");
	}
	&.dcl{
		content: url("@{il-standard-icon-path}icon_dcl.svg");
	}
	&.poll{
		content: url("@{il-standard-icon-path}icon_poll.svg");
	}
	&.hlps{
		content: url("@{il-standard-icon-path}icon_hlps.svg");
	}
	&.itgr{
		content: url("@{il-standard-icon-path}icon_itgr.svg");
	}
	&.rcat{
		content: url("@{il-standard-icon-path}icon_rcat.svg");
	}
	&.rwik{
		content: url("@{il-standard-icon-path}icon_rwik.svg");
	}
	&.rlm{
		content: url("@{il-standard-icon-path}icon_rlm.svg");
	}
	&.rglo{
		content: url("@{il-standard-icon-path}icon_rglo.svg");
	}
	&.rfil{
		content: url("@{il-standard-icon-path}icon_rfil.svg");
	}
	&.rgrp{
		content: url("@{il-standard-icon-path}icon_rgrp.svg");
	}
	&.rtst{
		content: url("@{il-standard-icon-path}icon_rtst.svg");
	}
	&.ecss{
		content: url("@{il-standard-icon-path}icon_ecss.svg");
	}
	&.tos{
		content: url("@{il-standard-icon-path}icon_tos.svg");
	}
	&.bibl{
		content: url("@{il-standard-icon-path}icon_bibl.svg");
	}
	&.sysc{
		content: url("@{il-standard-icon-path}icon_sysc.svg");
	}
	&.cld{
		content: url("@{il-standard-icon-path}icon_cld.svg");
	}
	&.reps{
		content: url("@{il-standard-icon-path}icon_reps.svg");
	}
	&.crss{
		content: url("@{il-standard-icon-path}icon_crss.svg");
	}
	&.grps{
		content: url("@{il-standard-icon-path}icon_grps.svg");
	}
	&.wbrs{
		content: url("@{il-standard-icon-path}icon_wbrs.svg");
	}
	&.prtt{
		content: url("@{il-standard-icon-path}icon_prtt.svg");
	}
	&.orgu{
		content: url("@{il-standard-icon-path}icon_orgu.svg");
	}
	&.wiks{
		content: url("@{il-standard-icon-path}icon_wiks.svg");
	}
	&.excs{
		content: url("@{il-standard-icon-path}icon_excs.svg");
	}
	&.taxs{
		content: url("@{il-standard-icon-path}icon_taxs.svg");
	}
	&.bibs{
		content: url("@{il-standard-icon-path}icon_bibs.svg");
	}
	&.awra{
		content: url("@{il-standard-icon-path}icon_awra.svg");
	}
	&.logs{
		content: url("@{il-standard-icon-path}icon_logs.svg");
	}
	&.prg{
		content: url("@{il-standard-icon-path}icon_prg.svg");
	}
	&.prgs{
		content: url("@{il-standard-icon-path}icon_prgs.svg");
	}
	&.cadm{
		content: url("@{il-standard-icon-path}icon_cadm.svg");
	}
	&.grpr{
		content: url("@{il-standard-icon-path}icon_grpr.svg");
	}
	&.bdga{
		content: url("@{il-standard-icon-path}icon_bdga.svg");
	}
	&.wfe{
		content: url("@{il-standard-icon-path}icon_wfe.svg");
	}
	&.iass{
		content: url("@{il-standard-icon-path}icon_iass.svg");
	}
	&.copa{
		content: url("@{il-standard-icon-path}icon_copa.svg");
	}
	&.lso{
		content: url("@{il-standard-icon-path}icon_lso.svg");
	}
	&.bgtk{
		content: url("@{il-standard-icon-path}icon_bgtk.svg");
	}
	&.mme{
		content: url("@{il-standard-icon-path}icon_mme.svg");
	}
	&.pdfg{
		content: url("@{il-standard-icon-path}icon_pdfg.svg");
	}
	&.dshs{
		content: url("@{il-standard-icon-path}icon_dshs.svg");
	}
	&.nots{
		content: url("@{il-standard-icon-path}icon_nots.svg");
	}
	&.prss{
		content: url("@{il-standard-icon-path}icon_prss.svg");
	}
	&.lhts{
		content: url("@{il-standard-icon-path}icon_lhts.svg");
	}
	&.coms{
		content: url("@{il-standard-icon-path}icon_coms.svg");
	}
	&.ltis{
		content: url("@{il-standard-icon-path}icon_ltis.svg");
	}
	&.cmis{
		content: url("@{il-standard-icon-path}icon_cmis.svg");
	}
	&.task{
		content: url("@{il-standard-icon-path}icon_task.svg");
	}
	&.rep{
		content: url("@{il-standard-icon-path}icon_rep.svg");
	}
	&.outlined{
		filter: @il-standard-outlined-icon-filter;

		&.disabled {
			filter: @il-standard-outlined-disabled-icon-filter;
		}

		&.grp{
			content: url("@{il-standard-outlined-icon-path}icon_grp.svg");
		}
		&.cat{
			content: url("@{il-standard-outlined-icon-path}icon_cat.svg");
		}
		&.crs{
			content: url("@{il-standard-outlined-icon-path}icon_crs.svg");
		}
		&.mob {
			content: url("@{il-standard-outlined-icon-path}icon_mob.svg");
		}
		&.mail {
			content: url("@{il-standard-outlined-icon-path}icon_mail.svg");
		}
		&.sahs{
			content: url("@{il-standard-outlined-icon-path}icon_sahs.svg");
		}
		&.adm {
			content: url("@{il-standard-outlined-icon-path}icon_adm.svg");
		}
		&.usrf{
			content: url("@{il-standard-outlined-icon-path}icon_usrf.svg");
		}
		&.rolf{
			content: url("@{il-standard-outlined-icon-path}icon_rolf.svg");
		}
		&.objf{
			content: url("@{il-standard-outlined-icon-path}icon_objf.svg");
		}
		&.usr{
			content: url("@{il-standard-outlined-icon-path}icon_usr.svg");
		}
		&.rolt{
			content: url("@{il-standard-outlined-icon-path}icon_rolt.svg");
		}
		&.lngf{
			content: url("@{il-standard-outlined-icon-path}icon_lngf.svg");
		}
		&.lng{
			content: url("@{il-standard-outlined-icon-path}icon_lng.svg");
		}
		&.role{
			content: url("@{il-standard-outlined-icon-path}icon_role.svg");
		}
		&.dbk{
			content: url("@{il-standard-outlined-icon-path}icon_dbk.svg");
		}
		&.glo{
			content: url("@{il-standard-outlined-icon-path}icon_glo.svg");
		}
		&.root{
			content: url("@{il-standard-outlined-icon-path}icon_root.svg");
		}
		&.lm{
			content: url("@{il-standard-outlined-icon-path}icon_lm.svg");
		}
		&.notf{
			content: url("@{il-standard-outlined-icon-path}icon_notf.svg");
		}
		&.note{
			content: url("@{il-standard-outlined-icon-path}icon_note.svg");
		}
		&.frm{
			content: url("@{il-standard-outlined-icon-path}icon_frm.svg");
		}
		&.exc{
			content: url("@{il-standard-outlined-icon-path}icon_exc.svg");
		}
		&.auth{
			content: url("@{il-standard-outlined-icon-path}icon_auth.svg");
		}
		&.fold{
			content: url("@{il-standard-outlined-icon-path}icon_fold.svg");
		}
		&.file{
			content: url("@{il-standard-outlined-icon-path}icon_file.svg");
		}
		&.tst{
			content: url("@{il-standard-outlined-icon-path}icon_tst.svg");
		}
		&.qpl{
			content: url("@{il-standard-outlined-icon-path}icon_qpl.svg");
		}
		&.recf{
			content: url("@{il-standard-outlined-icon-path}icon_recf.svg");
		}
		&.mep{
			content: url("@{il-standard-outlined-icon-path}icon_mep.svg");
		}
		&.htlm{
			content: url("@{il-standard-outlined-icon-path}icon_htlm.svg");
		}
		&.svy{
			content: url("@{il-standard-outlined-icon-path}icon_svy.svg");
		}
		&.spl{
			content: url("@{il-standard-outlined-icon-path}icon_spl.svg");
		}
		&.cals{
			content: url("@{il-standard-outlined-icon-path}icon_cals.svg");
		}
		&.trac{
			content: url("@{il-standard-outlined-icon-path}icon_trac.svg");
		}
		&.assf{
			content: url("@{il-standard-outlined-icon-path}icon_assf.svg");
		}
		&.stys{
			content: url("@{il-standard-outlined-icon-path}icon_stys.svg");
		}
		&.crsg{
			content: url("@{il-standard-outlined-icon-path}icon_crsg.svg");
		}
		&.webr{
			content: url("@{il-standard-outlined-icon-path}icon_webr.svg");
		}
		&.seas{
			content: url("@{il-standard-outlined-icon-path}icon_seas.svg");
		}
		&.extt{
			content: url("@{il-standard-outlined-icon-path}icon_extt.svg");
		}
		&.adve{
			content: url("@{il-standard-outlined-icon-path}icon_adve.svg");
		}
		&.ps{
			content: url("@{il-standard-outlined-icon-path}icon_ps.svg");
		}
		&.nwss{
			content: url("@{il-standard-outlined-icon-path}icon_nwss.svg");
		}
		&.feed{
			content: url("@{il-standard-outlined-icon-path}icon_feed.svg");
		}
		&.mcst{
			content: url("@{il-standard-outlined-icon-path}icon_mcst.svg");
		}
		&.rcrs{
			content: url("@{il-standard-outlined-icon-path}icon_rcrs.svg");
		}
		&.mds{
			content: url("@{il-standard-outlined-icon-path}icon_mds.svg");
		}
		&.cmps{
			content: url("@{il-standard-outlined-icon-path}icon_cmps.svg");
		}
		&.facs{
			content: url("@{il-standard-outlined-icon-path}icon_facs.svg");
		}
		&.svyf{
			content: url("@{il-standard-outlined-icon-path}icon_svyf.svg");
		}
		&.sess{
			content: url("@{il-standard-outlined-icon-path}icon_sess.svg");
		}
		&.mcts{
			content: url("@{il-standard-outlined-icon-path}icon_mcts.svg");
		}
		&.wiki{
			content: url("@{il-standard-outlined-icon-path}icon_wiki.svg");
		}
		&.crsr{
			content: url("@{il-standard-outlined-icon-path}icon_crsr.svg");
		}
		&.catr{
			content: url("@{il-standard-outlined-icon-path}icon_catr.svg");
		}
		&.tags{
			content: url("@{il-standard-outlined-icon-path}icon_tags.svg");
		}
		&.cert{
			content: url("@{il-standard-outlined-icon-path}icon_cert.svg");
		}
		&.lrss{
			content: url("@{il-standard-outlined-icon-path}icon_lrss.svg");
		}
		&.accs{
			content: url("@{il-standard-outlined-icon-path}icon_accs.svg");
		}
		&.mobs{
			content: url("@{il-standard-outlined-icon-path}icon_mobs.svg");
		}
		&.frma{
			content: url("@{il-standard-outlined-icon-path}icon_frma.svg");
		}
		&.book{
			content: url("@{il-standard-outlined-icon-path}icon_book.svg");
		}
		&.skmg{
			content: url("@{il-standard-outlined-icon-path}icon_skmg.svg");
		}
		&.blga{
			content: url("@{il-standard-outlined-icon-path}icon_blga.svg");
		}
		&.prfa{
			content: url("@{il-standard-outlined-icon-path}icon_prfa.svg");
		}
		&.chtr{
			content: url("@{il-standard-outlined-icon-path}icon_chtr.svg");
		}
		&.chta{
			content: url("@{il-standard-outlined-icon-path}icon_chta.svg");
		}
		&.otpl{
			content: url("@{il-standard-outlined-icon-path}icon_otpl.svg");
		}
		&.blog{
			content: url("@{il-standard-outlined-icon-path}icon_blog.svg");
		}
		&.dcl{
			content: url("@{il-standard-outlined-icon-path}icon_dcl.svg");
		}
		&.poll{
			content: url("@{il-standard-outlined-icon-path}icon_poll.svg");
		}
		&.hlps{
			content: url("@{il-standard-outlined-icon-path}icon_hlps.svg");
		}
		&.itgr{
			content: url("@{il-standard-outlined-icon-path}icon_itgr.svg");
		}
		&.rcat{
			content: url("@{il-standard-outlined-icon-path}icon_rcat.svg");
		}
		&.rwik{
			content: url("@{il-standard-outlined-icon-path}icon_rwik.svg");
		}
		&.rlm{
			content: url("@{il-standard-outlined-icon-path}icon_rlm.svg");
		}
		&.rglo{
			content: url("@{il-standard-outlined-icon-path}icon_rglo.svg");
		}
		&.rfil{
			content: url("@{il-standard-outlined-icon-path}icon_rfil.svg");
		}
		&.rgrp{
			content: url("@{il-standard-outlined-icon-path}icon_rgrp.svg");
		}
		&.rtst{
			content: url("@{il-standard-outlined-icon-path}icon_rtst.svg");
		}
		&.ecss{
			content: url("@{il-standard-outlined-icon-path}icon_ecss.svg");
		}
		&.tos{
			content: url("@{il-standard-outlined-icon-path}icon_tos.svg");
		}
		&.bibl{
			content: url("@{il-standard-outlined-icon-path}icon_bibl.svg");
		}
		&.sysc{
			content: url("@{il-standard-outlined-icon-path}icon_sysc.svg");
		}
		&.cld{
			content: url("@{il-standard-outlined-icon-path}icon_cld.svg");
		}
		&.reps{
			content: url("@{il-standard-outlined-icon-path}icon_reps.svg");
		}
		&.crss{
			content: url("@{il-standard-outlined-icon-path}icon_crss.svg");
		}
		&.grps{
			content: url("@{il-standard-outlined-icon-path}icon_grps.svg");
		}
		&.wbrs{
			content: url("@{il-standard-outlined-icon-path}icon_wbrs.svg");
		}
		&.prtt{
			content: url("@{il-standard-outlined-icon-path}icon_prtt.svg");
		}
		&.orgu{
			content: url("@{il-standard-outlined-icon-path}icon_orgu.svg");
		}
		&.wiks{
			content: url("@{il-standard-outlined-icon-path}icon_wiks.svg");
		}
		&.excs{
			content: url("@{il-standard-outlined-icon-path}icon_excs.svg");
		}
		&.taxs{
			content: url("@{il-standard-outlined-icon-path}icon_taxs.svg");
		}
		&.bibs{
			content: url("@{il-standard-outlined-icon-path}icon_bibs.svg");
		}
		&.awra{
			content: url("@{il-standard-outlined-icon-path}icon_awra.svg");
		}
		&.logs{
			content: url("@{il-standard-outlined-icon-path}icon_logs.svg");
		}
		&.prg{
			content: url("@{il-standard-outlined-icon-path}icon_prg.svg");
		}
		&.prgs{
			content: url("@{il-standard-outlined-icon-path}icon_prgs.svg");
		}
		&.cadm{
			content: url("@{il-standard-outlined-icon-path}icon_cadm.svg");
		}
		&.grpr{
			content: url("@{il-standard-outlined-icon-path}icon_grpr.svg");
		}
		&.bdga{
			content: url("@{il-standard-outlined-icon-path}icon_bdga.svg");
		}
		&.wfe{
			content: url("@{il-standard-outlined-icon-path}icon_wfe.svg");
		}
		&.iass{
			content: url("@{il-standard-outlined-icon-path}icon_iass.svg");
		}
		&.copa{
			content: url("@{il-standard-outlined-icon-path}icon_copa.svg");
		}
		&.lso{
			content: url("@{il-standard-outlined-icon-path}icon_lso.svg");
		}
		&.bgtk{
			content: url("@{il-standard-outlined-icon-path}icon_bgtk.svg");
		}
		&.mme{
			content: url("@{il-standard-outlined-icon-path}icon_mme.svg");
		}
		&.pdfg{
			content: url("@{il-standard-outlined-icon-path}icon_pdfg.svg");
		}
		&.dshs{
			content: url("@{il-standard-outlined-icon-path}icon_dshs.svg");
		}
		&.nots{
			content: url("@{il-standard-outlined-icon-path}icon_nots.svg");
		}
		&.prss{
			content: url("@{il-standard-outlined-icon-path}icon_prss.svg");
		}
		&.lhts{
			content: url("@{il-standard-outlined-icon-path}icon_lhts.svg");
		}
		&.coms{
			content: url("@{il-standard-outlined-icon-path}icon_coms.svg");
		}
		&.ltis{
			content: url("@{il-standard-outlined-icon-path}icon_ltis.svg");
		}
		&.cmis{
			content: url("@{il-standard-outlined-icon-path}icon_cmis.svg");
		}
		&.task{
			content: url("@{il-standard-outlined-icon-path}icon_task.svg");
		}
		&.rep{
			content: url("@{il-standard-outlined-icon-path}icon_rep.svg");
		}
	}
}
